.dashboard-right-class-container {}

.dashboard-right-class-top-container {
    display: flex;
    width: 100%;
    height: 20vh;
    min-height: 170px;
    min-width: 450px;
    background-color: white;
}

.dashboard-right-class-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    width: 20%;
    max-width: 200px;
}

.dashboard-right-class-icon {
    width: 60%;
    background-color: rgb(247, 247, 247);
}

.dashboard-right-class-name-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-right-class-name {
    padding-right: 2rem;
    word-break: break-word;
    font-size: 2rem;
    font-weight: bold;
    color: #197096;
}



.fa-pencil.edit-class-name {
    padding-left: 1rem;
    font-size: 1rem;
}

.fa-pencil.edit-class-name:hover {
    cursor: pointer;
    color: #6a94b3;
}

.dashboard-right-class-creator-container {
    padding-top: 5px;
    display: flex;
}

.dashboard-right-class-creator {
    font-size: 0.9rem;
    color: #197096;
}

.dashboard-right-class-creator span {
    font-weight: bold;
}

.dashboard-right-class-items-stats {
    font-size: 0.9rem;
    padding-left: 2rem;
    color: #6a94b3;
}

.dashboard-right-class-mastery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-width: 150px;
    max-width: 250px;

}

@media screen and (max-width: 992px) {
    .dashboard-right-class-mastery-container {
        display: none;

    }
    .dashboard-right-class-name-container {
        min-width: 430px;
    }
}

.dashboard-right-class-mastery-percentage {
    font-size: 1.5rem;
    color: #197096;
}

.dashboard-right-class-mastery-text {
    font-size: 0.9rem;
    color: #197096;
}


/* edit form  */
.dashboard-right-class-name-form {
    display: flex;
    min-width: min-content;
    justify-content: space-between;
    border: 1px solid #197096;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.dashboard-right-class-name-input {
    font-size: 1rem;
    font-weight: bold;
    color: #197096;
    outline: none;
    border: 0px solid black;

}

.edit-class-name-errors-container-outer {
    height: 1rem;
}

.edit-class-name-error {
    text-align: center;
    padding-top: 0.1rem;
    font-size: 0.9rem;
    color: red;
}

.edit-class-confirm-cancel-container {
    display: flex;
    align-items: center;
}

.fa-x.edit-class {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    padding-right: 1rem;
}

.fa-x.edit-class:hover {
    color: #6a94b3;
    cursor: pointer;
}

.edit-class-save-button {
    background-color: #ff8243;
    color: white;
    border: none;
    height: 1.5rem;
    width: 4rem;
    border-radius: 1rem;
}

.edit-class-save-button:hover {
    background-color: #ff9966;
    cursor: pointer;
}


/* Navlinks on component for the about page and decks */
.dashboard-right-class-navlinks-container {
    display: flex;
    width: 100%;
    min-width: 600px;
    background-color: #eaf2f6;
    height: 5vh;
    min-height: 30px;
}

.dashboard-right-class-navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    color: #779aa9;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    padding-top: 5px;
}

.dashboard-right-class-navlink:hover {
    border-bottom: 5px solid #c3d0dd;
    text-decoration: none;
}

.dashboard-right-class-navlink.active {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-bottom: 5px solid #9cb0c4;
}

/* lower component beneath navbar */

.dashboard-right-class-lower-container {
    max-height: 72vh;
    overflow-y: auto;
    min-width: 600px;
    width: 100%;
}
