.dashboard-outer-container {
    display: flex;
    width: 100%;
    min-height: min-content;
    height: 100vh;
}

.dashboard-inner-left {
    height: 100%;
    min-width: 340px;
    width: 340px;
}

.dashboard-inner-right {
    min-height: min-content;
    height: 100vh;
    width: calc(100% - 340px);
    background-color: blue;
}
