#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: white;
    min-width: 400px;
    max-width: 450px;
    width: 20%;
    min-height: min-content;
    border-radius: 20px;
    animation: scaleUp 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes scaleUp {
    0% {scale: 0%; opacity: 0;}
    100% {scale: 100%; opacity: 100;}
}
